body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: aliceblue;
    text-align: center;
}

.header {
    background-color: #034281;
    text-align: center;
    padding: 20px;
}

.header a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

#app {
    max-width: 1024px;
    margin: 20px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    color: #eee;
    text-align: center;
}

#add-user-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    color: #aaa;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.card {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
}

.space {
    padding: 5px 0;
    color: #eee;
}

strong {
    color: #eee;
}

button.remove-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

button.remove-btn:hover {
    background-color: #c9302c;
}

input {
    background-color: rgb(55, 62, 64);
}   

.campo-formulario {
    display: flex;
    flex-direction: column;
}

small{
    color: red;
}